@model app_adocao.Models.Requerente

@{
    ViewData["Title"] = "Create";
}



<h4>Requerente</h4>
<hr />
<div class="row justify-content-center align-items-center">
    
    <div class="col-md-6">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <label for="tipo" class="form-label">Tipo</label>
                <select class="form-select" name="tipo" id="tipo">
                    <option selected>Tipo de Pet</option>
                    <option value="1">Cachorro</option>
                    <option value="2">Gato</option>
                    <option value="3">hamsters</option>
                    <option value="4">Coelho</option>
                    <option value="5">Outros</option>
                </select>
            </div>
          
            <div class="col-md-6">
                <label asp-for="Raca" class="control-label"></label>
                <input asp-for="Raca" class="form-control" />
                <span asp-validation-for="Raca" class="text-danger"></span>
            </div>
            <div class="col-md-10">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-md-10">
             <label for="email" class="form-label">Email</label>
             <input type="text" class="form-control" id="email" placeholder="Digite o seu e-mail"/>
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Digite a sua senha" />
            </div>
            <div class="col-md-10">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class ="form-control" />
            </div>
                <div class="col-md-6">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Digite a sua cidade" />
                </div>
        
            <div class="col-md-6">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <br />
                        
        </form>
    </div>
  
</div>
<div class="text-center">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="termo" required />
        <label for="termo" class="form-check-label">
            "Ao adotar um Pet, declaro-me apto para assumir a guarda e a responsabilidade sobre o mesmo, eximindo o doador de toda e qualquer responsabilidade por quaisquer atos praticados
            com o animal a partir desta data, exceto quanto à castração se assim foi pactuado.Declaro ainda, estar ciente de todos os cuidados que este animal exige no que se refere à sua guarda e manutenção, além de conhecer todos os riscos inerentes à espécie
            com o convívio com humanos, estando apto a guardá-lo e vigiá-lo, comprometendo-me a proporcionar-lhe boas condições de alojamento, alimentação, higiene, conforto térmico, assim como espaço físico que possibilite ao animal se exercitar; e, ainda, ambiente
            que lhe proporcione afeto e distância de qualquer risco, crueldade, incluindo isolamento e abandono. Responsabilizo-me por preservar a saúde e integridade do animal e a submetê-lo aos cuidados médico-veterinários sempre que necessário para este fim.
            Comprometo-me a cumprir toda a legislação vigente, municipal, estadual e federal, relativa à posse de animais. "
        </label>
    </div>

</div>
<div class="text-center">
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
</div>
<p></p>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
