@model app_adocao.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<h4>Login</h4>

<hr />
<div class="row" style="background:#E9E9E9;border-radius: 10px;height: 200px;">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-secondary" style="background-color: gray;" />
                <a class="btn btn-secondary" style="background-color: gray;" asp-controller="Home" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
