@model app_adocao.Models.Adocao

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 style="color: crimson;">Realize a adoção</h1>

    <h4>Formulário de adoção:</h4>
</div>
<hr />

<div class="row justify-content-center align-items-center">
    <div class="col-md-4 rounded" style="background: lightgrey;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusAdocao>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adotante" class="control-label"></label>
                <select asp-for="Adotante" class="form-control" asp-items="ViewBag.Adotante"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdPet" class="control-label"></label>
                <select asp-for="IdPet" class="form-control" asp-items="ViewBag.IdPet"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary rounded" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index" style="color: darkred">Voltar para o cadastro</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
