@model app_adocao.Models.Pet

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 style="color: crimson;">Realize o cadastro de um novo pet:</h1>
    <h4>Formulário de Pet</h4>
</div>

<hr />
<div class="row justify-content-center align-items-center">
    <div class="col-md-4" style="background: lightgrey;">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dono" class="control-label"></label>
                <select asp-for="Dono" class="form-control" asp-items="ViewBag.Dono"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" asp-items="Html.GetEnumSelectList<Sexo>()" class="form-control"></select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label for="tipo" class="form-label">Tipo</label>
                <select class="form-select" name="tipo" id="tipo">
                    <option selected>Tipo de Pet</option>
                    <option value="cachorro">Cachorro</option>
                    <option value="gato">Gato</option>
                    <option value="hamster">Hamster</option>
                    <option value="coelho">Coelho</option>
                    <option value="outro">Outros</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="col-12 md-12">
                <label asp-for="Historico" class="form-label">Historico</label>
                <textarea asp-for="Historico" class="form-control" rows="5" placeholder="Informações adicionais"></textarea>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-secondary rounded" />
            </div>
            <div class="form-group">
                <label for="fotoPet">Foto do Pet:</label>
                <input type="file" id="fotoPet" name="fotoPet" onchange="exibirFoto(this)" />
            </div>
            <div id="previewFoto"></div>


            <input type="submit" value="Enviar" class="btn btn-primary" />

        </form>
    </div>
</div>

<div style="color: darkred">
    <a asp-action="Index">Voltar para tela de Pets</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>

    var fileInput = document.getElementById('fotoPet');

    var previewFoto = document.getElementById('previewFoto');



    fileInput.addEventListener('change', function (event) {

        var file = event.target.files[0];

        var reader = new FileReader();



        reader.onload = function () {

            var base64Image = reader.result;

            previewFoto.innerHTML = '<img src="' + base64Image + '" />';

            localStorage.setItem('fotoPet', base64Image);

        };



        reader.readAsDataURL(file);

    });



    // Carregar foto do Local Storage ao carregar a página, se existir

    window.addEventListener('load', function () {

        var fotoBase64 = localStorage.getItem('fotoPet');

        if (fotoBase64) {
            previewFoto.innerHTML = '<img src="' + fotoBase64 + '" />';
        }
    });
</script>