@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ADOÇÃO</h1>
    <h2> O seu portal de adoção de PETS.</h2>
    <img src="~/images/Adocao-Home.jpeg">
</div>
<div class="text-md-center">
    <h3>
       Nós fazemos a conexão entre quem deseja adotar um Pet e quem deseja doar de forma segura e responsável.
    </h3>
</div>
<p></p>
<p></p>
<h4 class="d-block">
    Porque adotar?
</h4>
<p>
    Você sabia que os animais fazem muito bem para o nosso bem-estar? Eles ajudam no combate à ansiedade e à depressão, trazem alegria e proteção para os tutores, são companheiros, e esses são apenas alguns motivos pelos quais você deve adotar um pet.
    Ao adotar um animal, que muitas vezes foi maltratado ou abandonado, você está dando ao pet um recomeço e uma oportunidade para ele ser amado. 
</p>
