@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color: #f8f8f8;">ADOCÃO</h1>
    <h2> O seu portal de adoção de PETS.</h2>
    <img src="~/images/Adocao-Home.jpeg">
</div>
<div class="text-md-center">
    <h3>
       Nós fazemos a conexão entre quem deseja adotar um Pet e quem deseja doar de forma segura e responsável.
    </h3>
</div>
<p></p>
<p></p>
<h4 class="d-block" style="background-color: #6c6c995c; height: 35px;">
    Porque adotar?
</h4>
<p>
    Você sabia que os animais fazem muito bem para o nosso bem-estar? Eles ajudam no combate à ansiedade e à depressão, trazem alegria e proteção para os tutores, são companheiros, e esses são apenas alguns motivos pelos quais você deve adotar um pet.
    Ao adotar um animal, que muitas vezes foi maltratado ou abandonado, você está dando ao pet um recomeço e uma oportunidade para ele ser amado. 
</p>
<h4 class="d-block" style="background-color: #6c6c995c; height: 35px;">
    Como anunciar um animal para adoção?
</h4>
<p>
  <ul>
      <li>
            Você precisa de um usuário e senha no site.
            <a class="nav-link text-dark" asp-area="" asp-controller="Responsaveis" asp-action="Create">Clique aqui para se cadastrar...</a>
      </li>
      <li>
           Após o cadastro, você pode ir em Pets e cadastrar um novo pet.
      </li>
      <li>
          Preencha todos os dados e clique em criar.
      </li>
  </ul>
</p>
<p>Animais de Estimação: Antes de colocar um animal de estimação para adoção, PENSE BEM! Existem milhares de cães e gatos abandonados que precisam de um
    lar… Se não houver mesmo condição de manter seu bichinho com você, primeiro procure entre seus conhecidos, parentes, amigos, colegas de trabalho, vizinhos
    e etc, alguém que possa ser o novo responsável pelo bichinho. Pense bem antes de doar seu cão ou gato!  O animal sente muito a mudança de ambiente e de família 
    e pode ficar deprimido e até morrer… Animais são seres com sentimentos, tem medo, sofrem, deprimem, sentem solidão e abandono. Procure sempre alguém próximo, 
    parente, amigo, vizinho, conhecido que possa ser o adotante, antes de anunciar o animal. Doando para alguém próximo, fica mais fácil monitorar a adoção.</p>