@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ADOÇÃO</h1>
    <h2> O seu portal de adoção de PETS.</h2>
    <img src="~/images/Adocao-Home.jpeg">
</div>
